<eos-container header="Video">
    <div style="padding-bottom: 10px">
        <div ng-if="effect.videoType == 'Local Video'">
            <video width="350" controls ng-src="{{effect.file}}">
            </video>
        </div>
        <div ng-if="effect.videoType == 'Random From Folder'">
            <img src="../images/placeholders/video.png" style="width: 350px;object-fit: scale-down;background: #d7d7d7">
        </div>
    </div>

    <div class="btn-group" style="margin-bottom: 10px;">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="change-scene-type-effect-type">{{effect.videoType ? effect.videoType : "Pick one"}}</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li ng-click="effect.reset = false">
                <a ng-click="setVideoType('Local Video')" href>Local Video</a>
            </li>
            <li ng-click="effect.reset = false">
                <a ng-click="setVideoType('Random From Folder')" href>Random From Folder</a>
            </li>
        </ul>
    </div>

    <div ng-show="effect.videoType == 'Local Video'" class="input-group">
        <file-chooser
            model="effect.file"
            options="{ filters: [ {name: 'Video', extensions: ['mp4', 'webm', 'ogv']} ]}"
        ></file-chooser>
    </div>
    <div ng-show="effect.videoType == 'Random From Folder'" class="input-group">
        <file-chooser
            model="effect.folder"
            options="{ directoryOnly: true, filters: [], title: 'Select Video Folder'}"
        />
    </div>
</eos-container>

<eos-container header="Duration" pad-top="true">
    <div class="input-group">
        <span class="input-group-addon">Seconds</span>
        <input
            type="text"
            class="form-control"
            aria-describedby="video-length-effect-type"
            placeholder="Optional"
            replace-variables="number"
            ng-model="effect.length">
    </div>
    <label class="control-fb control--checkbox" style="margin-top:15px;"> Loop <tooltip text="'Loop the video until the duration is reached.'"></tooltip>
        <input type="checkbox" ng-model="effect.loop" ng-disabled="effect.wait">
        <div class="control__indicator"></div>
    </label>
    <label class="control-fb control--checkbox" style="margin-top:15px;"> Wait for video to finish <tooltip text="'Wait for the video to finish before allowing the next effect to play.'"></tooltip>
        <input type="checkbox" ng-model="effect.wait" ng-change="waitChange()">
        <div class="control__indicator"></div>
    </label>
</eos-container>

<eos-container header="Volume" pad-top="true">
    <div class="volume-slider-wrapper">
        <i class="fal fa-volume-down volume-low"></i>
        <rzslider rz-slider-model="effect.volume" rz-slider-options="{floor: 0, ceil: 10, hideLimitLabels: true}"></rzslider>
        <i class="fal fa-volume-up volume-high"></i>
    </div>
</eos-container>

<eos-overlay-position effect="effect" pad-top="true"></eos-overlay-position>

<eos-container header="Size" pad-top="true">
    <label class="control-fb control--checkbox"> Force 16:9 Ratio
        <input type="checkbox" ng-click="forceRatioToggle();" ng-checked="forceRatio">
        <div class="control__indicator"></div>
    </label>
    <div class="input-group">
        <span class="input-group-addon">Width (in pixels)</span>
        <input
            type="text"
            class="form-control"
            aria-describeby="video-width-setting-type"
            type="number"
            ng-change="calculateSize('Width', effect.width)"
            ng-model="effect.width">
        <span class="input-group-addon">Height (in pixels)</span>
        <input
            type="text"
            class="form-control"
            aria-describeby="video-height-setting-type"
            type="number"
            ng-change="calculateSize('Height', effect.height)"
            ng-model="effect.height">
    </div>
    <div class="effect-info alert alert-info">
        Just put numbers in the fields (ex: 250). This will set the max width/height of the video and scale it down proportionally.
    </div>
</eos-container>

<eos-enter-exit-animations effect="effect" pad-top="true"></eos-enter-exit-animations>

<eos-overlay-instance effect="effect" pad-top="true"></eos-overlay-instance>

<eos-container>
    <div class="effect-info alert alert-warning">
        This effect requires the Firebot overlay to be loaded in your broadcasting software. <a href ng-click="showOverlayInfoModal(effect.overlayInstance)" style="text-decoration:underline">Learn more</a>
        <br>
        <strong>NOTE</strong>: Streamlabs Desktop (formerly known as SLOBS) does not support mp4 videos in their browser source. If you have mp4 videos that you want to display in Streamlabs Desktop, you will need to convert them to the <strong>.webm</strong> format.
    </div>
</eos-container>